RewriteEngine On

RewriteRule ^custom-(.*)      /sfb-check/custom_view.php?f=$1  [L]
RewriteRule ^put(.*)          /sfb-check/custom_put.php$1      [L]
RewriteRule ^delete(.*)       /sfb-check/custom_delete.php$1   [L]
